<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Smoothie Avocado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/avocado-smoothie.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> (1 medium Haas, peeled and pitted) 227 calories, 21g fat (3g sat fat), 9g fiber.<br><br>
         Avocado might not be a traditional smoothie constituent, but we're convinced
         that it should be. The calories come primarily from monounsaturated fat, the good
         stuff that protects your heart and helps beat back hunger. Add to that an impressive
         fiber load and you have the makings of a seriously satisfying smoothie. Plus, avocados
         add a richness that makes it feel like you're splurging, even when you're not.
      </ion-card-content>
  </ion-card>
</ion-content>
