<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Spinach</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/spinach.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> 23 calories, 0.3g fat, 3.8g carbs, 2.9g protein<br><br>
      In just one cup of boiled spinach, you can get 5 grams of protein.This green vegetable is
       also loaded with vitamins and minerals. It is an excellent source of vitamins A, K and E in
        addition to Calcium. Moreover,it is rich in iron and magnesium, two great minerals that are
        essential for muscle development.The leafy vegetables dark color is a sign of the phytochemicals it
         contains, which, according to some studies, helps to speed up the body is conversion of protein into muscle mass.
      </ion-card-content>
  </ion-card>
</ion-content>
