<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Edamame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/edamame.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> 112 calories, 5g fat, 10g carbs, 11g protein<br><br>
       Edamame is one of the greatest snacks or side dishes. If your looking to build muscles
       and keep your fat-intake at a minimum. These protein-filled vegetables are rich with soy
       protein, with 22 grams per boiled or steamed cup. They are also rich in leucine, a great nutrient
        which triggers muscles growth. Edamame are basically immature soybeans. Similarly, they are a great
        source of muscle building protein if you are into a vegetarian diet.
      </ion-card-content>
  </ion-card>
</ion-content>
