<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/old-pass-entry"></ion-back-button>
    </ion-buttons>
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changePassForm" ngNativeValidate (submit)="changePassword(account_id, account_password)">
    <ion-list>

      <ion-item>
        <ion-label position="floating">New password</ion-label>
        <ion-input type="password" formControlName="account_password"></ion-input>
      </ion-item>

      <div *ngFor="let error of errormsgs.account_password">
        <ng-container *ngIf="changePassForm.controls['account_password'].errors?.required &&
        changePassForm.controls['account_password'].touched">
        <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Confirm new password</ion-label>
        <ion-input type="password" formControlName="account_password_confirmation"></ion-input>
      </ion-item>

      <div *ngFor="let error of errormsgs.account_password_confirmation">
        <ng-container *ngIf="changePassForm.controls['account_password_confirmation'].errors?.required
         && changePassForm.controls['account_password_confirmation'].touched">
        <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-button (click)="changePassword(account_id, account_password)" type="submit" [attr.disabled]="!changePassForm.valid" mode="ios" color="success" expand="block">Save New Password</ion-button>
    </ion-list>
  </form>
</ion-content>
