<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Fruit Peaches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/sliced-peaches.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> (1 cup) 60 calories, 13g sugar, 2g fiber.<br><br>
        Peaches pack lutein and zeaxanthin, powerful carotenoids proven to help protect
        your peepers from macular degeneration. Plus, the blast of beta carotene may help
        stave off heart disease and cancer. But a USDA survey found that peaches are the
        most pesticide-laden fruit in the produce section, so if you can afford organic, you
        might want to spring.
      </ion-card-content>
  </ion-card>
</ion-content>
