<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Fruit Papaya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/papaya.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> (1 cup) 55 calories, 8g sugar, 3g fiber.<br><br>
      Is there any fruit better for you than papaya? Flooded with vitamin C, replete
      with vision-strengthening vitamin A, and blessed with one of the most favorable
      fiber-to-sugar ratios imaginable, papaya proves itself to be one of the most
      well-rounded foods on the planet. Papaya also boasts papain and chymopapain,
      two potent enzymes that have been shown to fight inflammation, the cause of asthma,
      arthritis and other serious conditions.
      </ion-card-content>
  </ion-card>
</ion-content>
