<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Fruit Strawberries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/strawberries.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> (1 cup) 49 calories, 7g sugar, 3g fiber.<br><br>
        Beyond the monster dose of vitamin C (calorie for calorie, you'll get more C than
        you'd find in an orange), strawberries also prove to be a rich source of phenols,
        including the same brain-boosting, anti-inflammatory anthocyanins found in blueberries.
        They also lay claim to a rare and powerful antioxidant called ellagitannin, which has been
        shown to provide a stout defense against a variety of cancers.
      </ion-card-content>
  </ion-card>
</ion-content>
