<ion-tabs mode="ios">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="workout">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Workout</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diet">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Diet Tips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="todoworkout">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>My Plans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
