<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Soybeans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/soybeans.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> 446 calories, 20g fat, 30g carbs, 36g protein<br><br>
       Soybeans are among the best vegetables in terms of protein content. One cooked cup
       of soybeans contains 28 grams of protein. Which is equivalent to the protein content in a
       150 grams of chicken. While some people claim that the protein contained in them are not
       as high quality as other meat-sourced proteins, soybeans remain an excellent choice if you are
        looking for a vegan or vegetarian diet.
      </ion-card-content>
  </ion-card>
</ion-content>
