<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/signup" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h3>&nbsp;<b>Terms</b></h3>
<p>
  6Packs Workout is a guide to help people to workout inside their house without using any equipments.
  Every exercises in the application contain precautions and advises for the safety of the users while performing the exercises.
  Since, we have safety messages in the application, Users are required to follow it to ensure their
  safety before and while doing exercises.
</p>

<p>Developers and Creators of 6Packs Workout are not responsible in anything might bad happen in users while
  following the exercise guides.</p>

<br>
<h3>&nbsp;<b>Conditions</b></h3>
<p>
  In part of the application. 6Packs workout will acquire some of your personal information that will securely be stored in the our database once you are registered. This information
  will be use for data analytics, researches in regards of exercises and improvements of the application.
</p>
</ion-content>
