<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/workout" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" class="exit-exercise-ico" name="close-outline" (click)="exitExercise()"></ion-icon>
    <ion-title>Push Ups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/workout-gifs/push-up.gif">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p><strong>Level:</strong> 1</p>
          </ion-col>
          <ion-col>
            <p><strong>Sets:</strong> 3</p>
          </ion-col>
          <ion-col>
            <p><strong>Repeat:</strong> 15x</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><strong>Difficulty:</strong>
                <ion-chip color="danger">
                  <ion-label>Hard</ion-label>
                </ion-chip>
             </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><strong>Target Body Parts:</strong> Chest, shoulders, abs and arms</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <ion-card-title>
        <strong>Instructions</strong>
      </ion-card-title>
      <ol>
        <li>With your legs extended back, place the hands below the shoulders, slightly wider than shoulder-width apart.</li>
        <li>Start bending your elbows and lower your chest until its just above the floor.</li>
        <li>Push back to the starting position. A 1-second push, 1-second pause, 2-second down count is ideal.</li>
        <li>Repeat until the set is complete.</li>
      </ol><br>
      <ion-chip color="secondary" class="time-chip">
        <ion-label><ion-icon name="time-outline" class="time-icon"></ion-icon> 1-2 minutes rest between sets.</ion-label>
      </ion-chip><br><br>
      <ion-label>
        Progress:
      </ion-label>
      <ion-progress-bar value="0.00" buffer="0.17"></ion-progress-bar>
      </ion-card-content>
      <ion-button color="success" (click)="nextExercise()" expand="block" mode="ios">Next Exercise</ion-button>
  </ion-card>
</ion-content>
