<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/workout"></ion-back-button>
    </ion-buttons>
    <ion-icon slot="end" class="exit-exercise-ico" name="close-outline" (click)="exitExercise()"></ion-icon>
    <ion-title>Single Leg Bridges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img src="/assets/images/workout-gifs/single-leg-bridge.gif">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p><strong>Level:</strong> 4</p>
            </ion-col>
            <ion-col>
              <p><strong>Sets:</strong> 4</p>
            </ion-col>
            <ion-col>
              <p><strong>Repeat:</strong> 14x</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p><strong>Difficulty:</strong>
                  <ion-chip color="danger">
                    <ion-label>Hard</ion-label>
                  </ion-chip>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p><strong>Target Body Parts:</strong> Glutes, core, hip flexors and knee extensors</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <br>
        <ion-card-title>
          <strong>Instructions</strong>
        </ion-card-title>
        <ol>
          <li>Lie on your back with your arms by your sides, knees bent, and feet flat on the floor.</li>
          <li>Raise one leg and lift your hips as high as you can.</li>
          <li>Lower your hips, repeat, and then switch legs after 2 sets.</li>
        </ol><br>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-chip color="secondary">
                <ion-label>2 sets per leg.</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-chip color="secondary"  class="time-chip">
                <ion-label><ion-icon name="time-outline" class="time-icon"></ion-icon> 20 seconds rest per set.</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <ion-chip color="secondary" class="time-chip">
                  <ion-label><ion-icon name="time-outline" class="time-icon"></ion-icon> 2 minutes rest between exercises.</ion-label>
                </ion-chip>
              </ion-col>
          </ion-row>
        </ion-grid>
        <ion-label>
          Progress:
        </ion-label>
        <ion-progress-bar value="0.75" buffer="1"></ion-progress-bar>
      </ion-card-content>
      <ion-button color="success" (click)="nextExercise()" expand="block" mode="ios">Exercises Done</ion-button>
    </ion-card>
</ion-content>
