<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Broccoli</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/broccoli.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> 34 calories, 0.4g fat, 7g carbs, 2.8g protein<br><br>
      If you are trying to cut fats or reduce your calories intake, then broccoli is a must for you.
       In fact, it is a must for any body builder! This is because while it contains very few calories,
       this green miniature tree -shaped vegetable also happens to be one of the most nutritious
       foods on earth.In just one cup of chopped broccoli, you can get 2.6 grams of protein, top up your
       daily need of vitamins C and K and obtain other essential vitamins including Calcium and Potassium.
        The green vegetable is also high in anti-inflammatory and antioxidants.
      </ion-card-content>
  </ion-card>
</ion-content>
