<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Fruit Pineapple</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/sliced-pineapples.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> (1 cup) 82 calories, 16g sugar, 2g fiber.<br><br>
        Feeling low on energy? A cup of pineapple might just be the antidote. That's
        because pineapple is one of nature's best sources of manganese, a trace mineral
        that is essential for energy production. A cup provides 76 percent of your daily
        recommended intake, making pineapple nature's answer to Red Bull.
      </ion-card-content>
  </ion-card>
</ion-content>
