ion-list-header{
  ion-icon{
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 5px;
  }
}

ion-card{
  margin: 0;
  padding: 0;
  border-radius: 15px;
  text-align: left;
  --background: rgb(250, 250, 250);
}

ion-slide{
  height: 370px;
}

ion-list-header{
  font-size: 22px;
}

a{
  text-decoration: none;
  float: right;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
}

a {
  ion-icon{
    position: absolute;
    font-size: 18px;
    margin-top: 2px;
  }
}

.learn-more-link{
  right: 15px;
}

ion-item {
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
  right: 10px;
}

ion-toolbar{
  --ion-font-family: 'barlow-font-lighter';
}

ion-card-content{
  font-size: 16px;
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);

  ion-card {
      img {
          transform: scale(1, 1);
      }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}
