<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Smoothie Mango</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/spinach-mango-smoothie.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> (1 cup) 103 calories, 24g sugar, 3g fiber.<br><br>
          This tropical treasure has become increasingly available in American supermarkets,
          in both fresh and frozen forms. Yes, it's higher in sugar than almost any other fruit in
          the produce section, but it also brings to the blender three-quarters of your day's vitamin C
          and 25 percent of your vitamin A. Consider added sweeteners entirely superfluous when
          making smoothies with mango.
      </ion-card-content>
  </ion-card>
</ion-content>
