<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <img src="./assets/slider-images/slide-exercise-11.png"/>
      <h2>Welcome to <b>6Packs</b></h2>
      <p>The <b>6Packs</b> is a home workout mobile appication that offers different exercises<br>and health tips.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slider-images/slide-exercise-1.png"/>
      <h2>No Equipment Needed</h2>
      <p><b>6Packs</b> exercises does not require any gym equipments. You can use any things available in your home for improvises.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slider-images/slide-exercise-2.png"/>
      <h2>Easy to Follow Exercises</h2>
      <p><b>6Packs</b> show proper way and doing
        <br>workout. Each exercise have a short video instruction in order to follow and do the exercise right. </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slider-images/slide-exercise-3.png"/>
      <h2>Healthy Diet Tips</h2>
      <p><b>6Packs</b> offers healthy diet tips that will <br>help your body to be strong and fit and information
      about fruits, vegetables and more.</p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/slider-images/6packs-slide-icon.png"/>
      <h2>Welcome to 6Packs!</h2>
      <ion-button fill="clear" [routerLink]="['/login']">Sign In <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button><br>
      <ion-button fill="clear" [routerLink]="['/signup']">Create Account <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
