ion-title{
  --ion-font-family: 'barlow-font-lighter';
}

a{
  float: left;
  position: relative;
  margin-left: 10px;
}

a {
  ion-icon{
    font-size: 22px;
  }
}

ion-card{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

ion-card-subtitle{
  font-size: 16px;
}

ion-card-content{
 text-align: justify;
 font-size: 16px;
}

