<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Fruit Blueberries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/spilled-blueberries.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> (1 cup) 84 calories, 15g sugar, 4g fiber.<br><br>
        Blueberries are best known in health circles for anthocyanins, the phytonutrients
        that give them their blue-red tint and their dense antioxidant punch. That punch
        translates into serious brain food, as blueberries have been found in studies to protect
        our noggins against both oxidative stress and the effects of age-related mental decay
        manifested in Alzheimer's and dementia.
      </ion-card-content>
  </ion-card>
</ion-content>
