<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/tabs/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Smoothie Banana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/banana-smoothie.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> (1 medium) 105 calories, 14g sugar, 3g fiber.<br><br>
        Sure, there are fruits with deeper nutritional portfolios, but the humble banana serves as
        an all-star utility player in the smoothie game. Not only does it offer a handful of hard-to-find
        nutrients (heart-strengthening potassium, gut-friendly prebiotics), but it also provides smoothies
        with a balanced, creamy texture and enough natural sweetness to ensure no need for added sugar.
        Keep a few very ripe bananas in the freezer. When you're ready for a smoothie, slice off the peel and
        blend away.
      </ion-card-content>
  </ion-card>
</ion-content>
