<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="/diet" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Kale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/images/diet/kale.jpg">
    <ion-card-content>
      <strong>Nutrition:</strong> 49 calories, 0.9g fat, 9g carbs, 4.3g protein<br><br>
        Very similar to spinach, kale is a great leafy green vegetable that is great for any diet.
        Specifically for people trying to build muscles, it contains 3 grams of plant-based protein per cup,
        making it a great protein ingredient to add into your salad, soup or shake. It is low in calorie with only 34
        calories per cup, and has zero fat. In addition, it is loaded with fiber, as well as other great antioxidants and
        vitamins including vitamin A, C and K.
      </ion-card-content>
  </ion-card>
</ion-content>
